/* Used in search results to display button insides properly */

.icon{
	float:left;
	width:14%;
	line-height: 100%;
	text-align: center;
}
.term{
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	line-height: 100%;
	text-align: center;
}
.rating-all{
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	line-height: 100%;
	text-align: center;
}

.term.search{
	width: 43%;
}
.rating-all.search{
	width: 43%;
}